<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center md-4">イベントの詳細</h1>
      <%= link_to '作成した一覧イベントページに戻る', user_events_path, class: "btn btn-secondary btn-small mb-3" %>

      <p>イベント番号: <%= @event.random_number %></p>
    </div>
  </div>
</div>

<% @bands.each do |b| %>
 <div>
  <%= b.music_name %>
  </div>
<% end %>

<%= link_to "新規バンド作成ページ", new_user_event_band_path(@event) %>
