/*
 * Your custom CSS goes here but before adding a lot of CSS check this out:
 *   https://tailwindcss.com/docs/extracting-components
*/
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.logo-image {
    width: 50px; /* 幅を50pxに指定 */
    height: auto; /* 高さは自動調整（縦横比を維持） */
    /* または */
    max-width: 100px; /* 最大幅を100pxに指定 */
    max-height: 50px; /* 最大高さを50pxに指定 */
}

  